/**
 * @file
 * Visual styles for Magazine+'s testimonials carousel views.
 */
.mt-carousel-testimonials .owl-item {
  padding: 15px;
}
.mt-carousel-testimonials .mt-carousel-item {
  margin: 0 0 35px 0;
  text-align: center;
  border-width: 1px;
  border-color: #eeeeee;
  border-style: solid;
  padding: 50px 30px;
}
.region--light-typography .mt-carousel-testimonials .mt-carousel-item {
  border-color: #ffffff;
}

/*testimonials carousel navigation*/
.owl-carousel.mt-carousel-testimonials .owl-nav {
  text-align: center;
}
.owl-carousel.mt-carousel-testimonials .owl-nav .owl-prev {
  left: auto;
  right: auto;
}
.owl-carousel.mt-carousel-testimonials .owl-nav .owl-next {
  left: auto;
  right: 1px;
}
