/**
 * @file
 * Visual styles for Magazine+'s view titles list views.
 */
.view-titles-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.view-titles-list .views-field-title {
  margin: 0;
  position: relative;
  list-style: none;
  padding: 0;
}
.view-titles-list .views-field-title a {
  padding: 10px 0;
  line-height: 150%;
  display: block;
  text-decoration: none;
}
.region--light-typography .view-titles-list .views-field-title a:hover {
  text-decoration: underline;
}
.region--light-typography.region--dark-background .view-titles-list .views-field-title a:hover {
  text-decoration: none;
}
