/**
 * @file
 * Visual styles for Magazine+'s posts grid views.
 */
.view-posts-grid .views-row {
  margin-bottom: 40px;
}
.view-posts-grid .views-field-title h5 {
  margin: 10px 0;
  font-size: 20px;
  line-height: 1.6;
}
.headings-wide-spacing-enabled .view-posts-grid .views-field-title a {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.view-posts-grid .views-field-name {
  font-style: italic;
  font-size: 14px;
  font-weight: 700;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
  color: #505050;
  padding-bottom: 5px;
}
.region--light-typography .view-posts-grid .views-field-name {
  border-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.view-posts-grid .views-field-name .username {
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
}
.view-posts-grid .views-field-title a:hover {
  text-decoration: none;
}
.view-posts-grid .post-meta {
  font-size: 0;
  margin-top: 10px;
}
.view-posts-grid .post-meta-item {
  font-size: 12px;
  display: inline-block;
  padding: 0px 15px;
  line-height: 1.3;
  text-transform: uppercase;
  position: relative;
}
.view-posts-grid .post-meta-item:after {
  content: "";
  width: 2px;
  height: 2px;
  position: absolute;
  right: -1px;
  top: 50%;
  margin-top: -1px;
  background-color: #9c9c9c;
}
.region--light-typography .view-posts-grid .post-meta-item:after {
  background-color: #ffffff;
}
.view-posts-grid .post-meta-item .username {
  text-transform: capitalize;
}
.view-posts-grid .post-meta-item:first-child {
  padding-left: 0;
}
.view-posts-grid .post-meta-item:last-child {
  padding-right: 0;
}
.view-posts-grid .post-meta-item:last-child:after,
.view-posts-grid .overlay-content .post-meta-item:after {
  width: 0;
  height: 0;
  background-color: transparent;
}
